@media (max-width: 470px){

    body{
        font-size: .5em;
    }

    .card{
        max-height: 480px;
        max-width: 300px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
    }
    
    .organiza-form{
        margin-top: 3vh;
        justify-content: center;
        gap: 1rem;
    }

    .design-input{
        max-width: 70px;
        padding-left: 8px;
    }

    .botao-enviar{   
        margin-top: 3vh;
        width: 100%;
        justify-content: center;
    }

    .botao-enviar::before{
        width: 39%;
    }

    .botao-enviar::after{
        content: '';
        height: 1px;
        width: 39%;
        background-color: var(--branco-apagado);
    }

    .show-info{
        font-size: 1.8rem;
    }
}