@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*PRIMÁRIA*/
    --roxo: hsl(259, 100%, 65%);
    --vermelho-claro: hsl(0, 100%, 67%);

    /*SECUNDÁRIA*/

    --branca: hsl(0, 0%, 100%);
    --branco-apagado: hsl(0, 0%, 94%);
    --cinza-claro: hsl(0, 0%, 86%);
    --cinza-medio-escuro: hsl(0, 1%, 44%);
    --preto-apagado: hsl(0, 0%, 8%);
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    background-color: var(--branco-apagado);
}

.card{
    height: 360px;
    width: 440px;
    background-color: var(--branca);
    margin: 10vh auto;
    border-radius: 12px 12px 8em 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 2.2em;
}

.input-data{
    width: 100%;
}

.organiza-form{
    display: flex;
    gap: 20px;
    margin-top: 2.4vh;
    padding-bottom: 6px;
}

.organiza-data{
    display: flex;
    flex-direction: column;
}

.organiza-data label{
    font-size: 0.5em;
    color: var(--cinza-medio-escuro);
}

/*Faz o spinner desaparecer Spinner é o indicador que aumenta ou diminui o número no input Number*/

input[type = "number"]::-webkit-inner-spin-button, input[type = "number"]::-webkit-outer-spin-button{
    appearance: none;
}

.design-input{
    cursor: pointer;
    height: 40px;
    width: 80px;
    border: 1px solid var(--cinza-claro);
    padding-left: 12px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 800;
}

.design-input:focus{ 
    outline: 1px solid var(--roxo);
}

.design-input::placeholder{
    font-size: 1rem;
    font-weight: 800;
}

.botao-enviar{   
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}

#linha{
    height: 1px;
    width: 80%;
    background-color: var(--branco-apagado);
}

.botao-enviar button{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--roxo);
    border: none;
    cursor: pointer;
    background-image: url(assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
}

.botao-enviar button:hover{
    background-color: var(--preto-apagado);
}

.idade{
    color: var(--roxo);
}

.show-info{
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
    line-height: 1.6em;
    margin-bottom: 3vh;
}