.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 100%;
  gap: 8px;
  margin: 32px 0;
  max-height: 130px;
}

.image{
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;
}

.info h1 {
  color: var(--azul-acinzentado);
  font-size: 1.8rem;
}

.info h2 {
  color: var(--azul-muito-escuro);
  font-size: 1.1rem;
  cursor: pointer;
}

.info h2:hover {
  color: var(--vermelho-leve);
}

.info p {
  color: var(--azul-escuro-acinzentado);
  font-size: 0.9rem;
  line-height: 24px;
}

@media (max-width: 1000px) {
  .content {
    max-height: 180px;
  }
}