@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*COR PRIMÁRIA */
    --gradiente: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*active input border*/
    --vermelho: hsl(0, 100%, 66%); /*input erro*/
    
    /*COR SECUNDÁRIA */

    --branco: hsl(0, 0%, 100%);
    --acinzentado-violeta-claro: hsl(270, 3%, 87%);
    --acinzentado-violeta-escuro: hsl(279, 6%, 55%);
    --violeta-muito-escuro: hsl(278, 68%, 11%);
}

body{
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--branco);
    
}

.principal{
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(500px, 2fr);
    width: 100%;
    height: 100%;
}

.container-1{
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.frente-cartao{
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 400px;
    padding: 1.3rem 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    position: absolute;
    top: 17vh;
    left: 20vw;
    transform: translateX(0%);
    z-index: unset;
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
}

.frente-cartao.js-cartao-animation{
    transform: translate3d(5vw, 0, 0);
}

.logo{
    background-image: url(images/card-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
}

.numero-cartao{
    font-size: 1.3rem;
    letter-spacing: 5.5px;
    margin-top: 3vh;
    color: var(--branco);
}

.nome-validade{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#validade-cartao{
    display: flex;
    flex-direction: row;
}

.design-cartao{
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: var(--branco);
}

.traseira-cartao{
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 400px;
    margin: 25vh 0 0 5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 17vh;
    left: 22vw;
    transform: translateX(0%);
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
}

.traseira-cartao.js-cartao-animation{
    transform: translate3d(5vw, 0, 0);
}

#cvc-cartao{
    padding-right: 2.8rem;
    padding-bottom: 3px;
    padding-top: 0px;
}

.container-2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formulario{
    max-height: 400px;
    max-width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.organiza-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.6rem;
    margin-top: 18px;
    font-weight: 500;
}

.input{
    width: 19.05rem;
    font-weight: 500;
    color: var(--violeta-muito-escuro);
    height: 30px;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
    outline: var(--acinzentado-violeta-claro) 1px solid;
}

.input:focus{
    border: hsl(278, 94%, 30%) 1px solid;
}

.input::placeholder{
    font-weight: 600;
    color: var(--acinzentado-violeta-claro);
}

input[type = "number"]::-webkit-inner-spin-button, input[type = "number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

p.msg-error:first-of-type{
    margin-top: 0px;
}

.msg-error{
    display: none;
}

.msg-error.active{
    display: block;
    font-size: 0.56rem;
    margin-top: 10px;
    color: var(--vermelho);
}

.parte-final-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-data{
    width: 60px;
}

#data-mes{
    margin-right: 5px;
}

#cvc{
    width: 10.2rem;
}

.botao{
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border-radius: 6px;
    background-color: var(--violeta-muito-escuro);
    color: var(--branco);
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
    border-color: transparent;
}

.botao:hover{
    background-color: hsla(278, 68%, 11%, 0.849);
}

/* PÁGINA THANK */

.msg-thank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 280px;
}

.msg-thank h2{
    margin-top: 1vh;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.msg-thank p{
    color: var(--acinzentado-violeta-escuro);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 40px;
}

#img-thank{
    background-image: url(images/icon-complete.svg);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}

#btn-continue{
    margin-top: 5px;
}