@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  /* Cores primárias */

  --laranja-leve: hsl(35, 77%, 62%);
  --vermelho-leve: hsl(5, 85%, 63%);

  /* Cores neutras */

  --branco-apagado: hsl(36, 100%, 99%);
  --azul-acinzentado: hsl(233, 8%, 79%);
  --azul-escuro-acinzentado: hsl(236, 13%, 42%);
  --azul-muito-escuro: hsl(240, 100%, 5%);

  /* fonte */

  --inter: 'Inter', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  font-family: var(--inter);
  display: grid;
  justify-content: center;
}

.Screen {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 0 14px;
  background-color: var(--branco-apagado);
  max-width: 1000px;
}