@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: var(--branco);
}

:root {
  --branco: hsl(0, 0%, 100%);
  --preto: hsl(0, 0%, 0%);
  --cinza-escuro: hsl(0, 0%, 55%);
  --cinza-muito-escuro: hsl(0, 0%, 41%);
  --josefin: 'Josefin Sans', sans-serif; 
  --alata: 'Alata', sans-serif;
}