.footer {
  width: 100%;
  background-color: var(--preto);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 36px;
  text-align: center;
  padding: 4.5rem 0;
}

.logoFooter {
  text-decoration: none;
  color: var(--branco);
  font-family: var(--alata);
  font-size: 1.5rem;
  font-weight: 600;
}



.social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.footerText {
  color: var(--cinza-escuro);
  font-family: var(--alata);
  font-size: 1.2rem;
}