.links {
  list-style: none;
  margin: 10vh 20px;
  font-family: var(--inter);
}

.links li {
  padding: 8px;
}

.links li a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--azul-muito-escuro);
}

.links li a:hover {
  color: var(--azul-escuro-acinzentado);
}