@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul-a: hsl(228, 45%, 44%);
    
    /* PRIMÁRIAS */

    --azul: hsl(246, 80%, 60%); 
    --vermelho-claro: hsl(15, 100%, 70%); /*Work*/
    --azul-suave: hsl(195, 74%, 62%); /*play*/
    --vermelho-claro-2:  hsl(348, 100%, 68%); /*Study*/
    --verde-limao: hsl(145, 58%, 55%); /*exercise*/
    --violeta: hsl(264, 64%, 52%); /*social*/
    --laranja-suave: hsl(43, 84%, 65%); /*self care*/

    /* CORES NEUTRAS */

    --azul-mt-escuro: hsl(226, 43%, 10%);
    --azul-escuro: hsl(235, 46%, 20%);
    --azul-desaturado: hsl(235, 45%, 61%);
    --azul-palido: hsl(236, 100%, 87%);
}

body{
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    background-color: var(--azul-mt-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 100%;
}

.collection-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.design-card{
    color: white; /*temporario*/
    width: 14rem;
    border-radius: 10px;
    margin: 0 8px;
}

.card-profile{
    margin-top: 6.5vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    gap: 0px;
    height: 8.8rem;
    background-color: var(--azul-escuro);
}

.top-card{
    background-color: var(--azul);
    height: 6rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.photo{
    background-image: url(images/image-jeremy.png);
    height: 45px;
    width: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    border: 2px solid white;
}

.name{
    align-self: center;
    justify-self: center;
    color: var(--azul-palido);
}

.name-user{
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.bottom-card{
    display: flex;
    justify-content: space-around;
    font-size: 0.75rem;
    padding: 0 6px;
    color: var(--azul-a);
}

.bottom-card p:hover{
    color: white;
    cursor: pointer;
}

.card{ 
    position: relative;
    height: 6rem;
}

.top-card-side{
    border-radius: 10px;
    display: flex;
    justify-content: end;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.image{
    background-size: contain;
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
    position: absolute;
    top: -2px;
    right: 10px;
}

.image-1{
    background-image: url(images/icon-work.svg);
}

.image-2{
    background-image: url(images/icon-play.svg);
}

.image-3{
    background-image: url(images/icon-study.svg);
}

.image-4{
    background-image: url(images/icon-exercise.svg);
}

.image-5{
    background-image: url(images/icon-social.svg);
}

.image-6{
    background-image: url(images/icon-self-care.svg);
}

#vermelho-claro{
    background-color: var(--vermelho-claro);
}

#ciano{
    background-color: var(--azul-suave);
}

#vermelho-claro-2{
    background-color: var(--vermelho-claro-2);
}

#verde-limao{
    background-color: var(--verde-limao);
}

#violeta{
    background-color: var(--violeta);
}

#laranja-suave{
    background-color: var(--laranja-suave);
}

.bottom-card-side{
    background-color: var(--azul-escuro);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 78%;
    z-index: 1000;
    top: 22px;
    padding: 0 14px;
    cursor: pointer;
}

.bottom-card-side:hover{
    background-color: var(--azul-a);
}

.side-left{
    margin-bottom: 0px;
}

.side-left h3{
    font-size: 0.6rem;
    font-weight: 400;
}

.side-left p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 28px;
    color: white;
}

.side-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.local-botao{
    cursor: pointer;
    align-self: flex-end;
    background: url(images/icon-ellipsis.svg) no-repeat;
    background-size: contain;
    height: 5px;
    width: 5px;
    padding: 6px;
}

.side-right p{
    font-size: 0.55rem;
    font-weight: 400;
    color: var(--azul-palido);
}