@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*CORES PRIMÁRIA */
    --vermelho: hsl(1, 90%, 64%);
    --azul: hsl(219, 85%, 26%);

    /*CORES NEUTRAS */

    --branco: hsl(0, 0%, 100%);
    --azul-mt-claro-acinzentado: hsl(210, 60%, 98%);
    --azul-claro-acinzentado-1: hsl(211, 68%, 94%);
    --azul-claro-acinzentado-2: hsl(205, 33%, 90%);
    --azul-acinzentado: hsl(219, 14%, 63%);
    --azul-escuro-acinzentado: hsl(219, 12%, 42%);
    --azul-mt-escuro-acinzentado: hsl(224, 21%, 14%);
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#notification{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    background-color: var(--branco);
    max-width: 800px;
}

.information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}

.note{
    display: flex;
    align-items: center;
    gap: 6px;
}

.note h3{
    font-size: 1.1rem;
    color: var(--azul-mt-escuro-acinzentado);
}

.note p{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 800;
    height: 18px;
    width: 24px;
    background-color: var(--azul);
    color: var(--branco);
}

#mark-read{
    margin-left: 8px;
    font-size: 0.8rem;
    color: var(--azul-escuro-acinzentado);
    cursor: pointer;
}

#mark-read:hover{
    color: var(--azul);
}

.container{
    margin-top: 2.5vh;
    padding: 0 14px;
}

.card{
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 40px 2fr;
    margin-bottom: 1vh;
    border-radius: 4px;
    cursor: pointer;
}

.card.active{
    background-color: var(--azul-mt-claro-acinzentado);
}

.photo-profile{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2vh;
}

.photo-profile img{
    max-width: 70%;
}

.information-user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.org-names{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
}

.name{
    font-size: 0.7rem;
    font-weight: 800;
    color: var(--azul-mt-escuro-acinzentado);
}

.name:hover{
    color: var(--azul);
}

.information-user p{
    font-size: 0.7rem;
    color: var(--azul-escuro-acinzentado);
}

.action{
    cursor: pointer;
    color: var(--azul-escuro-acinzentado);
    font-weight: 800;
}

.action:hover{
    color: var(--azul);
    font-weight: 800;
}

.point-notification-unread{
    display: none;
}

.point-notification-unread.active{
    display: block;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: var(--vermelho);
}

.time{
    color: var(--azul-acinzentado) !important;
    margin-bottom: 8px;
    font-size: 0.7rem !important;
}

.messenger{
    max-width: 180px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 10px;
    border: 1px solid var(--azul-claro-acinzentado-2);
    color: var(--azul-escuro-acinzentado);
}

.messenger:hover{
    background-color: var(--azul-claro-acinzentado-1);
}

.image{
    display: grid;
    grid-template-columns: 40px minmax(100px, 300px) 1fr;
}

.picture{
    background-image: url(assets/images/image-chess.webp);
    height: 30px;
    width: 30px;
    background-size: contain;
    margin-left: 6px;
    align-self: center;
    cursor: pointer;
}